{{!--
Це код container файлу для summary сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
--}}
<main>
    {{#with page_header}}
    <h1 class="text-center">{{title}}</h1>
    <br>
    <p class="text-secondary text-center text-uppercase">{{description}}</p>
    <br>
    {{/with}}

    {{#with section}}
    <div class="card">
        <div class="card-body">
            {{#with about_us}}
            <p class="display-6 text-end">{{about_us.main}}</p>
            <br>
            <h2 class="text-end">{{about_us.sub}}</h2>
            <br>
            {{#with button}}
            <p><button class="btn btn-outline-info">{{text}}</button></p>
            {{/with}}
            {{/with}}
        </div>
    </div>
    <br>

    <div class="card">
        <div class="card-body">
            {{#with advantage}}
            <p class="display-5">{{title}}</p>
            <br>
            <div class="card">
                <div class="card-body">
                    {{#with efficiency}}
                    <p class="display-4">{{title}}</p>
                    <br>
                    <h6>{{sub_title}}</h6>
                    <br>
                    <p class="text-secondary">{{description}}</p>
                    <br>
                    <p><button class="btn btn-outline-warning">{{button}}</button></p>
                    {{/with}}
                </div>
            </div>
            <br>

            <div class="card">
                <div class="card-body">
                    {{#with innovation}}
                    <p class="display-4 text-center">{{title}}</p>
                    <br>
                    <h6 class="text-center">{{sub_title}}</h6>
                    <br>
                    <p class="text-secondary text-center">{{description}}</p>
                    <br>
                    <p><button class="btn btn-outline-warning">{{button}}</button></p>

                    {{/with}}
                </div>
            </div>
            <br>

            <div class="card">
                <div class="card-body">
                    {{#with collaboration}}
                    <p class="display-4 text-end">{{title}}</p>
                    <br>
                    <h6 class="text-end">{{sub_title}}</h6>
                    <br>
                    <p class="text-secondary text-end">{{description}}</p>
                    <br>
                    <p><button class="btn btn-outline-warning">{{button}}</button></p>
                    {{/with}}
                </div>
            </div>
            {{/with}}
        </div>
    </div>
    <br>
    <br>

    <div class="card">
        <div class="card-body">
            {{#with agreement}}
            <p class="display-5">{{title}}</p>
            <br>
            <div class="card">
                <div class="card-body">
                    {{#with info}}
                    <h5>{{sub_title}}</h5>
                    <br>
                    <div class="card">
                        <div class="card-body">
                            {{#with detail}}
                            <p class="text-secondary">{{text}}</p>
                            <br>
                            <p><button class="btn btn-success">{{button}}</button></p>
                            {{/with}}
                        </div>
                    </div>
                    {{/with}}
                </div>
            </div>
            {{/with}}
        </div>
    </div>
    {{/with}}
</main>




{{!--
Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
Адже наш layout/default.hbs має вже структуру HTML
--}}